@import '../Helper/vars';
@import '../Helper/queries';

body{
    background-color: $Light-grayish-blue;
    font-size: 13px;
    font-family: $Family;
    @include mq(Desktop)
    {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
   
}

.container{
    
    margin: 50px auto;
    padding-left: 20px;
    padding-right: 20px;
    @include mq (Desktop) {
        display: grid;
        max-height: 574px;
        max-width: 1120px;
        gap: 24px;
    };
    @include mq (Tablet) {
        display: grid;
        max-width: 1080px;
        margin: 25px;
        gap: 24px;
    };
    @include mq (Mobile) {
        display: block;
       
        .card
        {
            margin: auto; 
            margin-top: 26px;

        }
    };
   

    .card{
        padding: 24px 32px;
        border-radius: 10px;
        overflow: hidden;

        .profile{
            display: inline-flex;
            
            img{
                border-radius: 50%;
                width: 32px;
                height: 32px;
                border: hsla(0, 0%, 100%, 0.25) solid 2px;
            }

            .blocks{
                margin-left: 16px;
                padding-top: 5px;
                &:is(.name,.status){
                    color: $Light-grayish-blue;
                }

                .status{
                    opacity: 0.5;
                    font-size: 10px;
                }
            }
        }

        .heading{
            font-size: 21px;
            font-weight: 600;
        }

        .description{
            font-size: 12px;
            font-weight: 400;
            opacity: 0.7;
            margin-top: 20px;
            margin-bottom: 8px;
            line-height: 1.4;
        }


    }

    & > *.card:nth-child(1)
    {
        @include mq (Desktop) {
            max-width: 540px;
            max-height: 282px;
            grid-column: 1/3;
            grid-row: 1;
        };
        @include mq (Tablet) {
            max-width: 540px;
            max-height: 282px;
            grid-column: 1/3;
            grid-row: 1;
        };
        @include mq (Mobile) {
            max-width: 256px;
        };
        
        background-color: $Moderate-violet;
        color: $Light-grayish-blue;
       
    }

    & > *.card:nth-child(2)
    {
        @include mq (Desktop) {
            max-width: 256px;
            max-height: 282px;
        };
        @include mq (Tablet) {
            max-width: 256px;
            max-height: 282px;
        };
        @include mq (Mobile) {
            max-width: 256px;
            grid-column: 3;
            grid-row: 1;
        };
       
        background-color: $Very-dark-grayish-blue;
        color: $Light-grayish-blue;
     
    }
   
    & > *.card:nth-child(3)
    {
        @include mq (Desktop) {
            max-width: 256px;
            max-height: 282px;
            grid-column: 1;
            grid-row: 2;
            .heading{
                font-size: 22px;
            }
        };
        @include mq (Tablet) {
            max-width: 256px;
            max-height: 282px;
            grid-column: 1;
            grid-row: 2;
            .heading{
                font-size: 22px;
            }
        };
        @include mq (Mobile) {
            max-width: 256px;
        };
       
        background-color: white;
        color: $Very-dark-blackish-blue;
        

        
        
    }
    & > *.card:nth-child(4)
    {
        
        @include mq (Desktop) {
            max-width: 540px;
            max-height: 282px;
            grid-column: 2/4;
            grid-row: 2;
        };
        @include mq (Tablet) {
            max-width: 540px;
            max-height: 282px;
            grid-column: 2/4;
            grid-row: 2;
        };
        @include mq (Mobile) {
            max-width: 256px;
        };
       
        background-color: $Very-dark-blackish-blue;
        color: $Light-grayish-blue;
        
    }
    & > *.card:nth-child(5)
    {
        @include mq (Desktop) {
            max-width: 256px;
            max-height: 570px;
            grid-column: 4;
            grid-row: 1/3;
            .description{
                font-size: 14px;
            }
        };

        @include mq (Tablet) {
            max-width: inherit;
            max-height: 282px;
            grid-column: 1/4;
            grid-row: 3;
            .description{
                font-size: 14px;
            }
        };
        
        @include mq (Mobile) {
            max-width: 256px;
        };
       
       
        background-color: white;
        color: $Very-dark-blackish-blue;
        

        
        
    }
}